body{
    font-size: 16px;
    color: black;
    background-color:white;
    font-family:sans-serif;
}
#icon-img {
    background: url("/images/life_map_icon_small.png") no-repeat;
    width: 150px;
    height: 150px;
    /* object-fit: cover; */
    margin: 10px 15px 10px 0; 
    
}

