body{
    font-size: 16px;
    color: black;
    background-color:white;
    font-family:sans-serif;
    font-family: "Open Sans", sans-serif;
}
#icon-img {
    
    width: 150px;
    height: 150px;
    margin: 0 15px 0 0;
    
}

#header-nav {
    background-color:rgb(218, 233, 238);
    /* border-style: solid;
    border-width: 3px;
    border-color: black; */
}
.navbar-brand h1 {
    font-family: 'Staatliches', cursive;
    font-size: 5em;
    text-transform: uppercase;
    color: black;
    margin-right: 200px;
    margin-left: 20px;
    margin-top:0px;
    margin-bottom: 0px;
    
}
.navbar-brand h1 a:link, .navbar-brand h1 a:hover, .navbar-brand h1 a:focus, 
#nav-list a:link, #nav-list a:hover, #nav-list a:focus,
#elevator-pitch a:link, #elevator-pitch a:hover, #elevator-pitch a:focus {
    text-decoration: none;
  }

.navbar-brand h1 a{
    color: black;
}
.home-item{
    width: 80px;
    margin-right: 15px;
}
.about-item{
    width: 82px;
    margin-right: 15px;
} 
.blog-item{
    width: 60px;
    margin-right: 15px;
}
#nav-list li:hover {
    background-color: gainsboro;
}
#nav-list a:hover {
    background-color: gainsboro;
}
#nav-list a{
    text-align: center;
    width: 50px;
    font-size: 1.8em;
    margin-left: 25px;
    position: relative;
    margin-right: 25px;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    
}
#nav-list i{
    text-align:center;
    width: 100%;
    position: absolute;
    left: -11px;
    top: 17px;
    padding: 0px;
    /* vertical-align: middle; */
    
}

.nav-item {
    margin-bottom: 6px;
    margin-right: 35px;
    white-space: nowrap; 
}

#main-content {
    margin-top: 20px;
}
#portrait {
    width: 65%;
    height: 400px;
    display:block;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 50%;
}

#elevator-pitch {
    font-size: 1.5em;
}

.content-heading {
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
    
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 3.5em;
    color: black;
    
}

 .carousel {
    width:400px;
    height: 400px;
    margin: 0 auto;
}  
.carousel-item img {
    
    width: 100%;
    height: 100%;
    
}
#rblx {
    color: blue;
}
.project-heading {
    font-size: 1.5em;
}
.project-heading a {
    text-decoration: none;
}
.project-content {
    font-size: 1.25em;
}
.project-separate {
    margin-top: 15px;
    margin-bottom: 15px;
}
.card-footer {
    height: 100px;
    margin-top: 25px;
    background-color: rgb(218, 233, 238);
    text-align: center;
    padding-top: 40px;
}
/*****MEDIA QUERIES*****/
/***super small*******/
@media (max-width:515px){
    .navbar-brand h1{
        font-size: 3em;
        margin-right: 10px;  
    }
    #nav-list i{ 
        
        text-align: center;
        width: auto; 
        position: relative; 
        left: 0px;
        top: 0px;
        padding: 0px;
        vertical-align: inherit;
    }
    #nav-list a{
        margin-left: 20px;
    }
    #portrait {
        height: 300px;
        width: 60%;
        margin-bottom: 25px;
    }
    .carousel {
        margin-bottom: 15px;
    }
    .project-heading {
        text-align: center;
    }
    #elevator-pitch{
        font-size: 1.2em;
    } 
}
/*****extra small******/
@media (min-width: 515px) and (max-width: 575px){
    .navbar-brand h1{
        font-size: 3.5em;
        margin-right: 10px;  
    }
    #nav-list i{ 
        
        text-align: center;
        width: auto; 
        position: relative; 
        left: 0px;
        top: 0px;
        padding: 0px;
        vertical-align: inherit;
    }
    #nav-list a{
        margin-left: 20px;
    }
    #portrait {
        height: 300px;
        width: 60%;
        margin-bottom: 25px;
    }
    .carousel {
        margin-bottom: 15px;
    }
    .project-heading {
        text-align: center;
    }
    #elevator-pitch{
        font-size: 1.2em;
    } 
}

/******small******/
@media (min-width: 576px) and (max-width: 767px){
    .navbar-brand h1{
        font-size: 3.5em;
        margin-right: 10px;  
    }
    #nav-list i{
        text-align: center;
        width: auto; 
        position: relative; 
        left: 0px;
        top: 0px;
        padding: 0px;
        vertical-align: inherit;
    }
    #nav-list a{
        margin-left: 20px;
    }
    #portrait {
        height: 300px;
        width: 60%;
        margin-bottom: 25px;
    }
    .carousel {
        margin-bottom: 15px;
    }
    .project-heading {
        text-align: center;
    }
    #elevator-pitch{
        font-size: 1.2em;
    } 
    
    
}

/******medium*****/
@media (min-width: 768px) and (max-width: 991px){
    .navbar-brand h1{
        font-size:3.5em;
        margin-left: 0;
        margin-right: 20px;
    }

    .nav-item {
        margin-bottom: 17px;
    }
    #elevator-pitch{
        font-size: 1.2em;
    }
    #portrait {
        width: 100%;
    }
    .project-content {
        font-size: 1.2em;
    }
    .carousel{
        width: 300px;
        height: 300px;
    }
    .blog-item {
        margin-right: 10px;
    }
    
    
}

/******large******/
@media (min-width: 992px) and (max-width: 1199px){
    .navbar-brand h1 {
        margin-right: 65px;
        margin-left: 10px;
    }
    #portrait{
        width: 80%;
    }
    #elevator-pitch{
        font-size: 1.3em;
    }
}
/****extra large*****/
@media (min-width: 1200px) and (max-width: 1399px){
    #portrait {
        width: 70%;
    }
    .navbar-brand h1 {
        margin-right: 90px;
    }
}

/*****extra extra large*****/
@media (min-width: 1400px){

}
